apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: adminfront
  namespace: external
  labels:
    app: adminfront
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adminfront
  strategy: {}
  template:
    metadata:
      labels:
        app: adminfront
    spec:
      containers:
      - env:
        - name: API_URL
          value: /
        - name: APP_URL
          value: http://admin.pjmicrostore.local
        - name: AUTH_URL
          value: http://login.pjmicrostore.local
        image: mwpro/pjmicrostore-front-admin
        name: adminfront
        ports:
        - containerPort: 80