apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: cart
  namespace: checkout
  labels:
    app: cart
spec:
  replicas: 1  
  selector:
    matchLabels:
      app: cart
  template:
    metadata:
      labels:
        app: cart
    spec:
      containers:
      - env:
        - name: ASPNETCORE_ENVIRONMENT
          value: Development
        - name: ConnectionStrings__DefaultConnection
          value: Server=;Database=Checkout.Cart;User Id=;Password=;ConnectRetryCount=0
        - name: Dependencies__Products
          value: http://catalog
        - name: Identity__Authority
          value: http://identityapi
        - name: RabbitMq__Host
          value: rabbitmq
        image: mwpro/pjmicrostore-checkout-cart
        name: cart
        ports:
        - containerPort: 80
