apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.16.0 (0c01309)
  creationTimestamp: null
  labels:
    io.kompose.service: catalog
  name: catalog
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: catalog
    spec:
      containers:
      - env:
        - name: ASPNETCORE_ENVIRONMENT
          value: Development
        - name: ConnectionStrings__DefaultConnection
          value: Server=;Database=Products.Catalog;User Id=;Password=;ConnectRetryCount=0
        - name: Identity__Authority
          value: http://identityapi
        - name: RabbitMq__Host
          value: rabbitmq
        image: mwpro/pjmicrostore-products-catalog
        name: catalog
        resources: {}
      restartPolicy: Always
status: {}
