apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: payments
  namespace: checkout
  labels:
    app: payments
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payments
  template:
    metadata:
      labels:
        app: payments
    spec:
      containers:
      - env:
        - name: DB_USERNAME
          valueFrom:
            secretKeyRef:
              name: db-user-pass
              key: db_username
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-user-pass
              key: db_password
        - name: DB_SERVER
          valueFrom:
            secretKeyRef:
              name: db-user-pass
              key: db_server
        - name: ConnectionStrings__DefaultConnection
          value: "Server=$(DB_SERVER);Database=Checkout.Payments;User Id=$(DB_USERNAME);Password=$(DB_PASSWORD);ConnectRetryCount=0"
        - name: Identity__Authority
          value: http://identityapi.identity
        - name: RabbitMq__Host
          value: rabbitmq.infrastructure
        image: mwpro/pjmicrostore-checkout-payments:1.0.0
        name: payments
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "500m"