apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: photos
  namespace: products
  labels:
    app: photos
spec:
  replicas: 1
  selector:
    matchLabels:
      app: photos
  template:
    metadata:
      labels:
        app: photos
    spec:
      containers:
      - env:
        - name: ASPNETCORE_ENVIRONMENT
          value: Development
        - name: ConnectionStrings__DefaultConnection
          value: Server=;Database=Products.Photos;User Id=;Password=;ConnectRetryCount=0
        - name: Identity__Authority
          value: http://identityapi
        - name: RabbitMq__Host
          value: rabbitmq
        image: mwpro/pjmicrostore-products-photos
        name: photos
        ports:
        - containerPort: 80